html {
    font-family: "DM Sans", sans-serif;
}

* {
    font-size: 62.5%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /*Colours*/
    --Purple-100: hsl(254, 88%, 90%);
    --Purple-500: hsl(256, 67%, 59%);   
    --Yellow-100: hsl(31, 66%, 93%);
    --Yellow-500: hsl(39, 100%, 71%);
    --White: hsl(0, 0%, 100%);
    --Black: hsl(0, 0%, 7%);
    /*Desktop font-sizes*/
    --D-large: clamp(2rem, 5vw, 3.5rem);
    --D-big: clamp(1rem, 2.5vw, 2.6rem);
    --D-medium: clamp(1rem, 2.4vw, 2rem);
    --D-small: clamp(1rem, 1.6vw, 1.3rem);
    /*Mobile font-sizes*/
    --M-large: clamp(4rem, 13vw, 5.4rem);
    --M-big: 2.8rem;
    --M-medium: 2rem;
    --M-small: 1.4rem;
}

body {
    background-color: #f5f5f5;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(2, minmax(50px, 80px)) repeat(6, minmax(20px, 40px)) repeat(2, minmax(50px, 80px));
    grid-template-rows: repeat(4, 20px) repeat(11, 15px);
    justify-content: center;
    gap: 20px;
    padding: 30px 10px;
}

/*1ST CONTAINER*/

.container-one {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-column: 3/9;
    grid-row: 1/6;
    background-color: var(--Purple-500);
    gap: 10px;
    padding: 10px;
}

.container-one .container-one__first-paragraph {
    font-size: var(--D-large);
    font-weight: 500;
    text-align: center;
    color: white;
    margin: 10px 0px 0px;
    line-height: 35px;
}

.container-one__first-paragraph .number {
    font-size: inherit;
    font-family: inherit;
    color: var(--Yellow-500);
}

.container-one__first-paragraph .faster {
    font-size: inherit;
    font-style: italic;
}

.container-one .container-one__five-star-image {
    width: 40%;
}

.container-one .container-one__second-paragraph {
    font-size: var(--D-small);
    font-weight: 200;
    color: white;
}

/*2ND CONTAINER*/

.container-two {
    grid-column: 3/6;
    grid-row: 6/11;
    background-color: var(--White);
    box-shadow: 0px 0px 10px lightgray;
    overflow: hidden;
    padding: 15px 0px;
}

.container-two img {
    width: 200px;
    margin-left: 14px;
}

.container-two p {
    font-size: var(--D-medium);
    font-weight: 600;
    letter-spacing: -1px;
    margin-left: 15px;
    padding: 0px 25px 0px 0px;
    line-height: 18px;
}

/*3RD CONTAINER*/

.container-three {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-column: 6/9;
    grid-row: 6/11;
    background-color: var(--Yellow-500);
    overflow: hidden;
    gap: 10px;
}

.container-three p {
    font-size: var(--D-medium);
    font-weight: 600;
    line-height: 18px;
    letter-spacing: -1px;
    text-align: left;
    padding: 50px 40px 0px 15px;
}

.container-three img {
    width: 80%;
}

/*4TH CONTAINER*/

.container-four {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-column: 9/11;
    grid-row: 1/11;
    background-color: var(--Purple-100);
    overflow: hidden;
    gap: 10px;
}

.container-four img {
    width: clamp(100px, 26vw, 220px);
    margin-left: 20px;
}

.container-four .container-four__first-paragraph {
    font-size: var(--D-medium);
    font-weight: 600;
    line-height: 18px;
    letter-spacing: -1px;
    padding: 0px 20px 0px 20px;
}

.container-four .container-four__second-paragraph {
    font-size: var(--D-small);
    padding: 0px 20px 0px 20px;
}

/*5TH CONTAINER*/

.container-five {
    display: flex;
    align-items: center;
    grid-column: 6/11;
    grid-row: 11/16;
    padding: 15px;
    gap: 10px;
    background-color: var(--Purple-500);
}

.container-five img {
    width: 140px;
}

.container-five p {
    font-size: var(--D-big);
    line-height: 25px;
    color: var(--White);
}

/*6TH CONTAINER*/

.container-six {
    display: flex;
    flex-direction: column;
    grid-column: 3/6;
    grid-row: 11/16;
    box-shadow: 0px 0px 10px lightgray;
    background-color: var(--White);
    padding: 10px 10px 0px 10px;
    gap: 15px;
}

.container-six .container-six__text-wrapper .text-wrapper__percentage {
    font-size: 4rem;
    font-weight: 500;
}

.container-six .container-six__text-wrapper .text-wrapper__faster-audience {
    font-size: var(--D-small);
}

.container-six img {
    width: 80%;
}

/*7TH CONTAINER*/

.container-seven {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-column: 1/3;
    grid-row: 1/8;
    background-color: var(--Yellow-100);
    padding: 20px;
    gap: 15px;
}

.container-seven p {
    font-size: var(--D-big);
    font-weight: 500;
    letter-spacing: clamp(-1px, -1px, -2px);
    line-height: clamp(20px, 22px, 24px);
}

.container-seven p span {
    font-size: inherit;
    font-style: italic;
    color: var(--Purple-500);
}

.container-seven img {
    width: 100%;
}

/*8TH CONTAINER*/

.container-eight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-column: 1/3;
    grid-row: 8/16;
    padding: 20px;
    gap: 15px;
    background-color: var(--Yellow-500);
}

.container-eight p {
    font-size: var(--D-big);
    font-weight: 500;
    letter-spacing: clamp(-1px, -1px, -2px);
    line-height: clamp(20px, 22px, 24px);
}

.container-eight img {
    width: 95%;
}

div {
    width: 100%;
    border-radius: 5px;
}

@media(max-width: 600px) {
    main {
        display: flex;
        justify-content: center;
    }

    .wrapper {
        grid-template-columns: none;
        grid-template-rows: 270px 150px 200px 400px 350px 200px 200px 350px;
        padding: 20px;
        max-width: 400px;
    }

    .container-one {
        grid-column: 1/3;
        grid-row: 1;
        padding: 20px;
    }

    .container-one .container-one__first-paragraph {
        font-size: var(--M-large);
        line-height: 90%;
    }

    .container-one .container-five-star-image {
        width: 60%;
    }

    .container-one .container-one__second-paragraph {
        font-size: var(--M-small);
    }

    .container-two {
        display: flex;
        flex-direction: column;
        gap: 10px;
        grid-column: 1/3;
        grid-row: 2;
        padding: 15px;
    }

    .container-two img {
        width: 100%;
        margin: 0;
    }

    .container-two p {
        font-size: var(--M-medium);
        margin: 0;
        padding: 0;
    }

    .container-three {
        align-items: flex-start;
        grid-column: 1/3;
        grid-row: 3;
        padding: 10% 30% 0px 5%;
    }

    .container-three p {
        font-size: var(--M-medium);
        padding: 0;
    }

    .container-three img {
        width: 100%;
    }

    .container-four {
        align-items: center;
        grid-column: 1/3;
        grid-row: 4;
        gap: 20px;
        padding: 20px 10px 20px;
        text-align: center;
    }

    .container-four .container-four__first-paragraph {
        font-size: var(--M-medium);
        padding: 0;
    }

    .container-four img {
        width: 90%;
        margin: 0;
    }

    .container-four .container-four__second-paragraph {
        font-size: var(--M-small);
    }

    .container-five {
        flex-direction: column;
        grid-column: 1/3;
        grid-row: 5;
        text-align: center;
        gap: 30px;
        padding: 20px;
    }

    .container-five img {
        width: 80%;
    }

    .container-five p {
        font-size: var(--M-big);
        padding: 0 20px;
    }

    .container-six {
        justify-content: center;
        grid-column: 1/3;
        grid-row: 6;
        gap: 15px;
        padding: 0px 15px 10px 15px;
    }

    .container-six .container-six__text-wrapper .text-wrapper__percentage {
        font-size: 3.6rem;
    }

    .container-six .container-six__text-wrapper .text-wrapper__faster-audience {
       font-size: var(--M-small);     
    }

    .container-six img {
        width: 70%;
    }

    .container-seven {
        grid-column: 1/3;
        grid-row: 7;
        gap: 20px;
        padding: 20px 15px 10px 15px;
    }

    .container-seven p {
        font-size: var(--M-big);
    }

    .container-seven img {
        width: 60%;
    }

    .container-eight {
        align-items: flex-start;
        grid-column: 1/3;
        grid-row: 8;
        gap: 30px;
    }

    .container-eight p {
        width: 85%;
        font-size: var(--M-big);
        line-height: 30px;
    }

    .container-eight img {
        width: 70%;
    }
}